/* Write your code here. */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.image-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image {
  width: 80%;
}
.content {
  margin-right: auto;
  margin-left: 85px;
}
.head {
  color: #1e293b;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 25px;
}
.para {
  color: #64748b;
  font-family: 'roboto';
  font-size: 15px;
}
.thumbnail-list {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
}
